.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f9f9f9;
    width: 80.0625rem;
    height: 4.6875rem;
    margin: 0 auto;
}

.logo {
    padding-left: 1.8125rem;
}

.menu-lista {
    display: flex;
    list-style: none;
}

.menu-item:nth-child(1) {
    color: #333333;
    font-weight: bold;
}

.menu-link {
    margin-right: 1.25rem;
    color: #808080;
    text-transform: lowercase;
    text-decoration: none;
}

.menu-link:hover {
    text-decoration: underline;
}

@media screen and (max-width: 85.5rem) {
    .header-container {
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }

    .logo {
        display: none;
    }

    .menu {
        margin: 0 auto;
        width: 100%;
        height: 100%;
    }

    .menu-item {
        font-size: 14px;
        width: 100%;
        height: 100%;
    }

    .menu-item:last-child .menu-link {
        margin-right: 0;
    }
       
}

